*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  background-color: #101010;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #F44E77, #554DDE);
  border-radius: 5px;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
}
@media screen and (max-width: 64em) {
  html {
    font-size: 59.5%;
  }
}
@media screen and (max-width: 48em) {
  html {
    font-size: 56.3%;
  }
}
@media screen and (max-width: 30em) {
  html {
    font-size: 53.1%;
  }
}
@media screen and (max-width: 23em) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: #101010;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow-x: hidden;
}

.center-container {
  max-width: 100rem;
  margin: 0 auto;
}

.container__lines {
  grid-row: 1/13;
  grid-column: 3/10;
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.container__lines .line {
  display: block;
  height: 100%;
  width: 1px;
  background-color: rgba(33, 37, 41, 0.7176470588);
  z-index: -1;
}

.heading--2 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #fff;
}

.heading--3 {
  font-size: 2.1rem;
  color: #fff;
}

.p {
  color: #a2a2a2;
  font-weight: 500;
  line-height: 1.2;
}

.m-bottom-sm {
  margin-bottom: 2rem;
}

.m-bottom-lg {
  margin-bottom: 3rem;
}

.m-bottom-ex-lg {
  margin-bottom: 7rem;
}

.m-top-ex-lg {
  margin-top: 7rem;
}

.p-top-lg {
  padding-top: 15rem;
}

.padding {
  padding: 2rem;
}

.p-left-sm {
  padding-right: 2rem;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.divider {
  height: 2px;
  width: 18%;
  background-color: #F44E77;
  margin-top: 1rem;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 25px;
  color: #fff;
  background: linear-gradient(45deg, #F44E77, #554DDE);
  position: relative;
  overflow: hidden;
  font-size: 1.7rem;
  border: none;
}
.btn::before {
  content: "";
  width: 150px;
  height: 180px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 5px;
  right: -50%;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.btn:hover::before {
  content: "";
  width: 180px;
  height: 180px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0px;
  right: -34%;
  border-radius: 50%;
  overflow: hidden;
}

.btn--arrow i {
  font-size: 1.4rem;
  animation: moveLR 2s infinite;
}

@keyframes moveLR {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
.header {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: 5rem;
  justify-items: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  border-bottom: 1px solid rgba(33, 37, 41, 0.7176470588);
  padding: 3rem 10rem 0 10rem;
}
@media screen and (max-width: 64em) {
  .header {
    padding: 3rem 2rem 0 2rem;
  }
}
.header__logo {
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}
.header__nav {
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}
.header__nav__container {
  display: flex;
  height: 3.5rem;
  gap: 0.2rem;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 64em) {
  .header__nav__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    background-color: #000000;
    z-index: 10000;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.5s;
  }
}
.header__nav__container__list {
  list-style: none;
}
.header__nav__container__list__link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  display: block;
  padding: 1rem 2rem;
  position: relative;
}
.header__nav__container__list__link::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #F44E77, #554DDE);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 30px;
  transform: scale(0);
  transition: all 0.4s ease-out;
}
@media screen and (max-width: 64em) {
  .header__nav__container__list__link::before {
    display: none;
  }
}
.header__nav__container__list__link:hover::before {
  transform: scale(1);
}
@media screen and (max-width: 64em) {
  .header__nav__container__list__link:hover {
    color: #F44E77;
  }
}
.header__nav__container__list__link-active::before {
  transform: scale(1);
}
@media screen and (max-width: 64em) {
  .header__nav__container__list__link-active {
    color: #F44E77;
  }
}
.header__hamburger {
  width: 5rem;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 2rem;
  margin-right: 3rem;
  display: none;
  color: #ffffff;
  z-index: 10;
}
.header__hamburger .hamburger-menu[name=header-xmark] {
  display: none;
}
@media screen and (max-width: 64em) {
  .header__hamburger {
    display: block;
    z-index: 10000000;
  }
}

@media screen and (max-width: 64em) {
  .btn {
    display: none;
  }
}

@media screen and (max-width: 64em) {
  .nav-open .header__nav__container {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    transform: translateX(0);
  }
}
.nav-open .hamburger-menu[name=header-xmark] {
  display: block;
}
.nav-open .hamburger-menu[name=header-bar] {
  display: none;
}

.hero {
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media screen and (max-width: 48em) {
  .hero {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 64em) {
  .hero {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.hero__content--heading {
  font-size: 5.5rem;
  font-weight: 800;
  color: #fff;
}
.hero__content--heading span {
  background: linear-gradient(171.21deg, #554dde -10.74%, #f44e77 112.82%, #f44e77 112.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 48em) {
  .hero__content--heading span {
    display: block;
    width: 100%;
  }
}
.hero__content p {
  font-size: 1.8rem;
  color: #837e7e;
  margin-bottom: 1rem;
}
@media screen and (max-width: 48em) {
  .hero__content p {
    padding: 0 5rem;
  }
}
@media screen and (max-width: 30em) {
  .hero__content p {
    padding: 0;
    font-size: 2rem;
  }
}
.hero__img {
  position: relative;
}
@media screen and (max-width: 48em) {
  .hero__img {
    padding-top: 7rem;
    width: 50rem;
    height: 50rem;
    margin: 0 auto;
  }
}
@media screen and (max-width: 30em) {
  .hero__img {
    width: 40rem;
  }
}
@media screen and (max-width: 23em) {
  .hero__img {
    width: 30rem;
  }
}
.hero__img--1 {
  width: 90%;
  height: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 15%;
  left: 10%;
  z-index: 10;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 70px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 1s cubic-bezier(0, 0.99, 1, 0.99);
}
@media screen and (max-width: 48em) {
  .hero__img--1 {
    width: 100%;
    height: 55%;
  }
}
@media screen and (max-width: 30em) {
  .hero__img--1 {
    padding: 0 4rem;
  }
}
.hero__img--2 {
  width: 90%;
  height: 76%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 1s cubic-bezier(0, 0.99, 1, 0.99);
}
@media screen and (max-width: 30em) {
  .hero__img--2 {
    padding: 0 4rem;
  }
}
.hero__img:hover .hero__img--1 {
  transform: scale(0.9);
}
.hero__img:hover .hero__img--2 {
  transform: scale(1.1);
}

.btn--hero {
  justify-self: start;
}

.btn--arrow i {
  font-size: 1.4rem;
  animation: moveLR 2s infinite;
}

@keyframes moveLR {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
.mouse {
  height: 15rem;
}
.mouse__content {
  margin: 0 auto;
  height: 45px;
  width: 30px;
  border-radius: 30px;
  border: 2px solid #ffffff;
  position: relative;
}
.mouse__animation {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  background: linear-gradient(300.81deg, #554dde -17.99%, #f44e77 111.32%, #f44e77 111.32%);
  border-radius: 50%;
  position: absolute;
  left: 13.5px;
  top: 0%;
  transform: translate(-3px, 1.2px);
  animation: Updown 2s infinite;
}
@keyframes Updown {
  0% {
    top: 0%;
    transform: translateY(1.2px) translateX(-3px) scale(1.3);
  }
  50% {
    top: 84%;
    transform: translate(-3px, 1.2px) scale(1);
  }
  100% {
    top: 0%;
    transform: translate(-3px, 1.2px) scale(1);
  }
}

.services__content {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.services__content-item {
  max-width: 30rem;
  min-width: 30rem;
  margin-bottom: 3rem;
  display: grid;
  justify-items: center;
  row-gap: 2rem;
  background: #191919;
  border-radius: 5px;
  padding: 2rem;
  padding-top: 4rem;
  transition: all 1s cubic-bezier(0, 0.99, 1, 0.99);
  position: relative;
}
.services__content-item::before {
  content: "";
  height: 6px;
  width: 100%;
  background: linear-gradient(45deg, #F44E77, #554DDE);
  position: absolute;
  top: 98%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: scale(0);
  transition: all 0.9s cubic-bezier(0, 0.99, 1, 0.99);
}
.services__content-item:hover {
  transform: translateY(-2%);
  box-shadow: 9px 10px 2px 1px rgba(248, 249, 250, 0.0784313725);
}
.services__content-item:hover::before {
  transform: scale(1);
}
.services__heading {
  padding-bottom: 5rem;
}
@media screen and (max-width: 48em) {
  .services__heading h3 {
    padding-top: 5rem;
  }
}

.btn--service {
  background: none;
  border: none;
}

.btn--service::before {
  display: none;
}

.recommendation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
}
@media screen and (max-width: 48em) {
  .recommendation {
    grid-template-columns: 1fr;
    padding: 0 4rem;
  }
}
.recommendation__content {
  padding: 0 3rem;
}
@media screen and (max-width: 48em) {
  .recommendation__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-top: 10rem;
  }
}
.recommendation__content__text {
  padding-top: 5rem;
}
.recommendation__img {
  max-height: 50rem;
  overflow: clip;
}
@media screen and (max-width: 48em) {
  .recommendation__img {
    order: 1;
    height: 90%;
  }
}
.recommendation__img figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.4s ease-in-out;
}
.recommendation__img figure > img:hover {
  transform: scale(1.2) rotate(-5deg);
  filter: grayscale(0);
}

.btn-recommedation {
  margin-top: 3rem;
  align-self: start;
}
@media screen and (max-width: 64em) {
  .btn-recommedation {
    display: block;
  }
}
@media screen and (max-width: 48em) {
  .btn-recommedation {
    align-self: center;
  }
}

.heading--recommendation {
  align-self: end;
  padding-top: 3rem;
}

.agency {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media screen and (max-width: 48em) {
  .agency {
    padding: 0 2rem;
    -moz-column-gap: 3px;
         column-gap: 3px;
  }
}
@media screen and (max-width: 48em) {
  .agency {
    grid-template-columns: 1fr;
    row-gap: 4rem;
    padding: 0 4rem;
  }
}
@media screen and (max-width: 48em) {
  .agency__content--heading {
    text-align: center;
  }
}
.agency__content--item {
  display: flex;
  gap: 30px;
}
.agency__content--item-img-1 {
  background-color: #fff;
  border-radius: 5px;
  padding: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.agency__content--item-img-2 {
  background-color: #fff;
  padding: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 5px;
}
.agency__img figure {
  display: grid;
  justify-items: end;
  width: 100%;
  height: 100%;
}
.agency__img figure:hover img {
  transform: scale(1.1);
}
.agency__img img {
  width: 80%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 1s cubic-bezier(0, 0.99, 1, 0.99);
}
@media screen and (max-width: 48em) {
  .agency__img img {
    width: 100%;
    height: 89%;
  }
}

.digital__work {
  background-color: #1D1D1D;
  grid-row: 7/8;
  grid-column: 3/10;
  display: grid;
  padding-top: 8rem;
  padding-bottom: 10rem;
  padding-right: 3rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  border-radius: 5px;
  margin-top: 7rem;
  margin-bottom: 7rem;
  position: relative;
}
.digital__work-img-container {
  justify-self: center;
}
.digital__work-img-container img {
  width: 140px;
  height: 140px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.digital__work-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.digital__work-navigation {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  position: absolute;
  top: 105%;
}
.digital__work-navigation .circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgba(33, 37, 41, 0.7176470588);
}
.digital__work-navigation .active-control {
  transform: scale(1.2);
  border-radius: 50%;
  background-color: #F44E77;
}

.btn-digital {
  background: none;
  border: 2px solid #fff;
  align-self: start;
}

.blog__heading {
  display: grid;
  justify-items: center;
  text-align: center;
}
.blog__content {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
.blog__content-item {
  margin-bottom: 30px;
  max-width: 30rem;
  min-width: 30rem;
  background-color: #191919;
  border: 2px solid rgba(33, 37, 41, 0.7176470588);
  border-radius: 5px;
  display: grid;
  grid-template-rows: 20rem repeat(3, min-content);
  row-gap: 20px;
  color: #a2a2a2;
  transition: all 0.9s cubic-bezier(0, 0.99, 1, 0.99);
}
.blog__content-item figure {
  grid-row: 1/2;
  grid-column: 1/1;
}
.blog__content-item figure > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.blog__content-item div + div > h3:hover {
  color: #F44E77;
}
.blog__content-item-tittle {
  grid-row: 1/2;
  grid-column: 1/1;
  align-self: end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(45deg, #F44E77, #554DDE);
  margin: 0 2rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transform: translateY(50%);
}
.blog__content-item-tittle span {
  padding-right: 4px;
}
.blog__content-item-tittle p {
  font-size: 1.5rem;
  color: #fff;
}
.blog__content-item-social-icon {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-top: 0px;
}
.blog__content-item-social-icon-divider {
  grid-column: 1/-1;
  grid-row: 1/1;
  height: 1px;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.7176470588);
}
.blog__content-item-social-icon p {
  grid-row: 2/2;
  grid-column: 1/2;
  align-self: center;
}
.blog__content-item-social-icon p + div {
  display: flex;
  grid-row: 2/3;
  grid-column: 2/3;
  gap: 10px;
  align-items: center;
}
.blog__content-item:hover {
  transform: translateY(-2%);
  box-shadow: 9px 10px 2px 1px rgba(248, 249, 250, 0.0784313725);
}

.subcribe {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}
.subcribe__video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -100;
}
.subcribe__container {
  width: 90rem;
  background-color: transparent;
  grid-column: 3/10;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  z-index: 4;
}
@media screen and (max-width: 48em) {
  .subcribe__container {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 0 4rem 4rem 2rem;
  }
}
.subcribe__container-content {
  padding-top: 4rem;
  background-color: transparent;
}
.subcribe__container-content span {
  display: block;
  height: 2px;
  width: 100%;
  background: linear-gradient(45deg, #F44E77, #554DDE);
}
.subcribe__container-form {
  background-color: transparent;
  padding-top: 4rem;
  z-index: 1000;
}
.subcribe__container-form-email {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
}
.subcribe__container-form-email form {
  grid-column: 1/-1;
  grid-row: 1/1;
  display: grid;
}

.subcribe--overlay {
  background-color: purple;
  z-index: 10;
  grid-row: 10/11;
  grid-column: 1/-1;
}

.subcribe-form-email {
  padding: 1rem 2rem;
  border-radius: 25px;
  grid-column: 1/-1;
}

.btn--subcribe {
  justify-self: end;
  grid-column: 1/-1;
  grid-row: 1/1;
}

.Team {
  display: grid;
  grid-template-rows: min-content 1fr repeat(2, min-content);
  row-gap: 20px;
  justify-items: center;
  margin-bottom: 15rem;
}
@media screen and (max-width: 48em) {
  .Team {
    padding: 0 4rem;
  }
}
.Team__heading {
  text-align: center;
  padding: 0 8rem;
}
.Team__gallery {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 40rem 40rem;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 30px;
}
.Team__gallery-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  overflow: clip;
  transition: all 0.4s ease-in-out;
}
.Team__gallery-img--1 {
  border-radius: 5px;
}
.Team__gallery-img--2 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 5px;
}
.Team__gallery-img--3 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 5px;
}
.Team__gallery-img--4 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 5px;
}
.Team__gallery-img:hover {
  transform: scale(1.2);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 5px;
}
.Team__gallery__item {
  overflow: clip;
  transform: all 0.4s ease-out;
}
.Team__gallery__item--1 {
  grid-column: 1/4;
}
.Team__gallery__item--2 {
  grid-column: 4/-1;
}
.Team__gallery__item--3 {
  grid-row: 2/3;
  grid-column: 1/7;
}
.Team__gallery__item--4 {
  grid-row: 2/3;
  grid-column: 7/-1;
}
.Team__gallery__item:hover {
  transform: scale(0.94);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 5px;
}
.Team__gallery__description {
  text-align: center;
}
.Team .btn--team {
  align-self: center;
  background: none;
  border: 2px solid #fff;
  color: #F44E77;
  transition: all 2s;
}
.Team .btn--team:hover {
  background-color: #F44E77;
  color: #fff;
}
.Team .btn--team::before {
  display: none;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content min-content 12rem 5rem;
}
@media screen and (max-width: 48em) {
  .footer {
    padding: 0 4rem;
  }
}
.footer__description {
  padding-left: 2rem;
}
.footer__description__icon {
  color: #a2a2a2;
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.footer__description__icon > i:hover {
  color: #F44E77;
}
.footer__company {
  padding-left: 2rem;
}
.footer__company h3 {
  margin-bottom: 2rem;
}
.footer__company ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.footer__company ul li > a {
  text-decoration: none;
  color: #a2a2a2;
}
.footer__contact {
  margin-left: 5rem;
  display: grid;
  color: #a2a2a2;
}
.footer__contact div > i {
  padding-right: 1rem;
}
.footer__instagram {
  display: grid;
  grid-template-columns: repeat(3, 8rem);
  grid-template-rows: min-content repeat(2, 8rem);
  grid-gap: 5px;
}
.footer__instagram__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.footer__instagram h3 {
  grid-column: 1/-1;
  margin-bottom: 2rem;
}
.footer__divider {
  grid-row: 3/4;
  grid-column: 1/-1;
  align-self: center;
  height: 1px;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.7176470588);
}
.footer__copywrite {
  grid-row: 4/5;
  grid-column: 1/-1;
  justify-self: center;
}
.footer__copywrite h3 {
  color: #a2a2a2;
  font-size: 17px;
  padding-bottom: 4rem;
}
.footer__copywrite h3 span {
  color: #ced4da;
}
.footer__copywrite h3 span:hover {
  color: #F44E77;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */