.footer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows:min-content min-content ;
  justify-items: start;
  gap:10px;
  padding:0 10px 0 10px;
  @media screen and (max-width:30em){
    font-size: 1.5rem;
  }
  @media screen and (max-width:23em){
    grid-template-rows:min-content min-content 4rem;
  }
 
  &__description{
    &__icon{
      color:#a2a2a2;
      display: flex;
      column-gap: 12px;
    }
    &__icon>i:hover{
      color:#F44E77;
    }
  }

  &__company{
 grid-row: 2/4;
 grid-column: 1/1;
 @media screen and (max-width:23em){
  grid-row:2/4;
  grid-column: 1/-1;
  justify-self: center;
  margin-left: -100px;
}
    h3{
      margin-bottom:2rem;
    }
    ul{
      list-style: none;
      display: flex;
      flex-direction: column;
      row-gap: 12px;
    }
    ul li>a{
      text-decoration: none;
      color: #a2a2a2;
    }
  }
  &__contact{
    display: grid;

    color:#a2a2a2;
    div>i{
      padding-right:1rem;
    }
  }

  &__instagram{
    @media screen and (max-width:23em){
      grid-row:4/5;
      grid-column: 1/-1;
     justify-self: center;
    }
    &__img{
      width:100%;
      height:100%;
      object-fit: cover;
      display: block;
    }

    h3{
      margin-bottom: 2rem;
    }
  }



}

.contact-item{
  display: flex;
  align-items: center;
  gap:3px;

}
.logo-image-container{
  display: grid;
  grid-template-columns: repeat(3,8rem);
  grid-template-rows: min-content repeat(2,8rem);
  grid-gap: 5px;
}
.footer__copywriter{
  text-align: center;
  padding: 0 10px 0;
  h3{
    color:#a2a2a2;
    font-size: 17px;
    text-align: center;
    span{
      color:#ced4da;
    }
    span:hover{
      color:#F44E77;
      cursor:pointer;
    }
  }
}