.header{
  max-width: 100rem;
  margin:0 auto;
  padding:  3rem 5rem 0 3rem ;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: 5rem;
  justify-items: center;
  align-items: center;
  column-gap: 20px;
  border-bottom: 1px solid #212529b7;
  position: relative;
  @media screen and (max-width:66.25em){
    // grid-template-columns: 1fr;
    // justify-content: space-between;
    display:flex;
    justify-content: space-between;
   }
  &__logo{
    display: block;
    text-transform: uppercase;
    color: #FFF;
    font-size:3rem;
    font-weight:bold;
    // @media screen and (max-width:66.25em){
    //   justify-self: start;
    //  }
    
  }
  &__nav{
    font-size:1.5rem;
    color:#FFF;
    text-transform: uppercase;
    font-weight: 300;
     @media screen and (max-width:66.25em){
      display:none;
     }
   
    &__container{
      display:flex; 
      height:3.5rem;
      gap:1rem;
      align-items: center;
      justify-content:flex-end;
      position: relative;
  
      &__list{
        list-style:none;
      
        &__link{
          text-decoration: none;
          color: #FFF;
          font-weight:500;
          display: block;
          padding:1rem 2rem;
          position: relative;
          

          &::before{
          display: block;
          content:"";
          width: 100%;
          height: 100%;
          background:linear-gradient($gradient);
          position: absolute;
          top:0;
          left: 0;
          z-index: -1;
          border-radius: 30px;
          transform: scale(0);
          transition: all 0.4s ease-out;
          }

          &:hover{
            &::before{
              transform:scale(1);
            }
          }

        }

        &__link-active{
          &::before{
            transform: scale(1);
          }
        }
       
      
        }
  }
  
  }
  &__hamburger{
    width: 5rem;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 2rem;
    display: none;
    @media screen and (max-width:66.25em){
      display:block;
     }
      & .header-bar{
        color: #ffffff;
      }
      & .header-xmark{
        display: none;
        color: #ffffff;
        z-index: 10;
        // opacity: 0;
      }
  }

}

.btn{
  @media screen and (max-width:66.25em){
    display:none;
   }
}