.services {
  &__content {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    &-item {
      width:30rem;
      min-width:30rem;
      margin-bottom: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      // flex-wrap: nowrap;
      row-gap: 2rem;
      background: #191919;
      border-radius: 5px;
      padding: 2rem;
      padding-top: 4rem;
      transition: all 1s cubic-bezier(0, 0.99, 1, 0.99);
      position: relative;

      &::before {
        content: "";
        height: 6px;
        width: 100%;
        background: linear-gradient($gradient);
        position: absolute;
        top: 98%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        transform: scale(0);
        transition: all 0.9s cubic-bezier(0, 0.99, 1, 0.99);
      }

      &:hover {
        transform: translateY(-2%);
        box-shadow: 9px 10px 2px 1px #f8f9fa14;
        &::before {
          transform: scale(1);
        }
      }
    }
  }
  &__heading {
    padding-bottom: 5rem;
    h3 {
      @media screen and (max-width: 48em) {
        padding-top: 5rem;
      }
    }
  }
}

.btn--service {
  background: none;
  border: none;
}
.btn--service::before {
  display: none;
}

// @keyframes line-animation {
//   from {
//     transform: translate(0, 0);
//   }
//   to {
//     transform: translate(100px, 100px);
//   }
// }

// /* Apply the animation to the line */
// .line {
//   animation: line-animation 2s linear infinite;
// }
